.Home {
  text-align: center;
  background: linear-gradient(#eef4ed, #0E4D7A);
  min-height: 100vh;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Home-header {
  color: #0b2545;
  padding: 2rem;
  font-size: 2rem;
}

.Home-logo {
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
